<div class="messages">
  <div class="messages__title">
    <h4>Messages</h4>
    <div class="messages__action">
      <button class="button clear" (click)="clearMessages()">
        <span class="material-symbols-outlined">delete</span>
      </button>
      <button class="button" (click)="isReduced = !isReduced">
        <span class="material-symbols-outlined">
          {{ isReduced ? 'open_in_full' : 'remove' }}
        </span>
      </button>
    </div>
  </div>
  <div class="messages__content" [class.messages__content--close]="isReduced">
    <ul class="messages__list">
      <li *ngFor="let message of messages"> {{message}} </li>
    </ul>
  </div>
</div>
