<h3>{{partita.nome}}, prova a indovinare il numero...</h3>

<form (submit)="controllaTentativo()" #formTentativo="ngForm" class="mb-2">
  <div class="mb-3">
    <span class="form-text">Inserisci un numero tra 1 e 100</span>
    <input class="form-control" id="tentativo" name="tentativo" [(ngModel)]="tentativo" type="number" required="true"
      min="1" max="100" #campoTentativo="ngModel" [disabled]="partitaNonInCorso" />
    <span class="form-text text-danger" *ngIf="campoTentativo.invalid && campoTentativo.touched">
      Il numero deve essere compreso tra 1 e 100</span>
  </div>
  <button class="btn btn-primary me-1" type="submit"
    [disabled]="formTentativo.invalid || partitaNonInCorso">Tenta</button>
  <button class="btn btn-secondary me-1" [disabled]="partitaNonInCorso"
    (click)="interrompiPartita()">Interrompi</button>
  <button class="btn btn-secondary me-1" [disabled]="!partita.trovato && !partitaInterrotta"
    (click)="nuovaPartita()">Nuova
    Partita</button>
</form>

<p>Tentativi effettuati: {{partita.numeroDiTentativi}}</p>
<p class="bold">{{partita.suggerimento}}</p>
<div *ngIf="partitaInterrotta">
  <p>Peccato! Il numero da indovinare era {{partita.numeroDaIndovinare}}</p>
</div>

<div class="row">
  <div class="col-6">
    <h4>Statistiche Complessive</h4>
    <ul>
      <li>Partite Concluse: <span *ngIf="!statistiche">...</span>{{statistiche?.partiteComplessive}}</li>
      <li>Vittorie: <span *ngIf="!statistiche">...</span>{{statistiche?.vittorieComplessive}}</li>
      <li>Record: <span *ngIf="!statistiche">...</span>{{statistiche?.recordComplessive}}<span
          *ngIf="statistiche?.recordComplessive === undefined">Nessun
          record</span></li>
    </ul>
  </div>

  <div class="col-6">
    <h4>Statistiche Utente</h4>
    <ul>
      <li>Partite Concluse: <span *ngIf="!statistiche">...</span>{{statistiche?.partiteUtente}}</li>
      <li>Vittorie: <span *ngIf="!statistiche">...</span>{{statistiche?.vittorieUtente}}</li>
      <li>Record: <span *ngIf="!statistiche">...</span>{{statistiche?.recordUtente}}<span
          *ngIf="statistiche?.recordUtente === undefined">Nessun record</span>
      </li>
    </ul>
  </div>
</div>

<a routerLink="../nuova" *ngIf="partitaNonInCorso">Cambia giocatore</a>
